<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>
                
                <nav>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>Add Book Name</a>
                </nav>
            
            <th>
                <nav>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>Display</a>
                </nav>   
            </th>
        </tr>
        <tr>
            <td><label>Name </label></td>
            <td><input type="text"><br></td>
        </tr>
        <tr>
            <td><label>Author </label></td>
            <td><input type="text"><br></td>
        </tr>
        <tr>
            <td><label>Image </label></td>
            <td><input type="text"></td>
        </tr>
        
            <td></td>
                <button (click) class="btn btn-primary ">Save</button>
        
        
        
        


    </table>
</body>
</html> -->











<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
   <nav class="navbar navbar-inverse" style="background-color: rgb(192, 236, 248);">
    <ul class="nav navbar-nav" style="float:left ; color: black;" >
        <li><a  (click)="onNavigate('login')" >Login</a></li>
        <li><a  (click)="onNavigate('add')">Add Books</a></li>
        <li><a  (click)="onNavigate('display')">Display Books</a></li>
        <li><a  (click)="onNavigate('catalogue')">Catalogue</a></li>
        <img src="" alt="">
    </ul>
   </nav> 
   <!-- <i class="bi bi-arrow-right"></i> -->
   <!-- <app-add-books *ngIf="pageSelected=='add'"></app-add-books>
   <app-display-books  *ngIf="pageSelected=='display'"></app-display-books> 
</body>
</html> -->
















<!-- <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Page 1</a></li>
    <li><a href="#">Page 2</a></li>
    <li><a href="#">Page 3</a></li>
  </ul> -->
